<html lang="en" xmlns:th="http://www.thymeleaf.org"><html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>材料生成系统-使用说明页</title>
  <link rel="dao icon"  href="../img/favicon.ico" type="image-x.icon"/>
  <link rel="stylesheet" type="text/css" href="../css/base.css">
  <style type="text/css">
  
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/base.js"></script>
</head>
<body>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <br>
        <div class="col-sm-11 ">
        <ol class="list-group col-sm-11 " style="white-space: normal;">
          <li class="list-group-item active col-sm-12">使用说明</li>
          <li class="list-group-item col-sm-12">请超级管理员依次添加培养联系人、班级、录入批次、团支书；</li>
          <li class="list-group-item col-sm-12">由团支书进行入党申请信息录入、入党推优；</li>
          <li class="list-group-item col-sm-12">管理员由超级管理员添加，没有任何限制；为保障数据安全超级管理员可以实现控制管理员和团支书的登录。</li>
          <li class="list-group-item col-sm-12">管理员可以查看所有积极分子和发展党员、取消推优、删除入党申请信息、修改培养联系人、录入团支书信息、下载相关文档；</li>
          <li class="list-group-item col-sm-12">超级管理员享有培养联系人录入、班级信息录入、管理员信息录入、审批时间录入以及管理员的所有权限；</li>
          <li class="list-group-item col-sm-12">班级信息请勿随意删除（出现操作失败是由于该班级下存在相关人员）；</li>
          <li class="list-group-item col-sm-12">为批次内所有人员下载材料可以在“数据下载”->“按批次下载”；</li>
          <li class="list-group-item col-sm-12">审批时间、培训班时间、支部大会时间、积极分子确定时间、发展党员确定时间会在相关材料中用到，请超级管理员及时添加；</li>
          <li class="list-group-item col-sm-12">此系统由个人编写，遇到系统异常，请联系微信a815193474/邮箱815193474@qq.com解决，不胜感激。</li>
          
        </ol>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
